---
import { Picture } from 'astro:assets';
import WISH_002 from '../assets/WISH_002_raw.jpg'
import WISH_004 from '../assets/WISH_004_raw.jpg'
import WISH_005 from '../assets/WISH_005_raw.jpg'
import  {URLs} from "../data/data.json"
---

<h2
        class="pb-2 text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-gray-800 mb-2 text-justify"
>
    Santa Claus is not gonna make it. Please could you stop with all those crazy wishlists?! If not, will he survived another Xmas?
</h2>

<div class="grid grid-cols-3 md:grid-cols-3 gap-4">
    <div>
        <Picture
                src={WISH_002} formats={['avif', 'webp']}
                alt="A time travel machine to withdraw what I just said to my wife."
                widths={[240, 540, 720, WISH_002.width]}
                sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${WISH_002.width}px`}
        />
        <div class="italic">A time travel machine to withdraw what I just said to my wife.</div>
    </div>

    <div>
        <Picture
                src={WISH_005} formats={['avif', 'webp']}
                alt="A dog picking up its own poop."
                widths={[240, 540, 720, WISH_005.width]}
                sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${WISH_005.width}px`}
        />
        <div class="italic">A dog picking up its own poop.</div>
    </div>

    <div>
        <Picture
                src={WISH_004} formats={['avif', 'webp']}
                alt="A husband who does the dishes happily."
                sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${WISH_004.width}px`}
        />
        <div class="italic">A husband who does the dishes happily.</div>
    </div>


</div>

<h2
        class="pb-2 text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-gray-800 mb-2 text-justify"
>
    Post your own crazy wishes or react on <a class="hover:text-primary" href={URLs.xURL} target="_blank">X</a> or <a class="hover:text-primary"  href={URLs.telegramURL} target="_blank">telegram</a>.
</h2>

<style>

    li {
        display: list-item;
        list-style-position: inside;
        list-style-type: decimal;
    }
</style>