---
import { Picture } from 'astro:assets';
import WISH_001 from '../assets/WISH_001.jpg'
import WISH_002 from '../assets/WISH_002.jpg'
import WISH_003 from '../assets/WISH_003.jpg'
import  {URLs} from "../data/data.json"

---

<h2
        class="pb-2 text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-gray-800 mb-2 text-justify"
>
    Santa Claus is not gonna make it. Please could you stop with all those crazy wishlists?! If not, will he survived another Xmas?
</h2>

<div class="grid grid-cols-3 md:grid-cols-3 gap-4">
    <div>
        <Picture
                src={WISH_002} formats={['avif', 'webp']}
                alt="A time travel machine."
                widths={[240, 540, 720, WISH_001.width]}
                sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${WISH_001.width}px`}
        />
        <div class="italic">A time travel machine to withdraw what I just said to my wife.</div>
    </div>

    <div>
        <Picture
                src={WISH_003} formats={['avif', 'webp']}
                alt="A pet dragon."
                sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${WISH_001.width}px`}
        />
        <div class="italic">A pet dragon that breathes fire on the guys that pissed my off.</div>
    </div>

    <div>
        <Picture
                src={WISH_001} formats={['avif', 'webp']}
                alt="A unicorn."
                widths={[240, 540, 720, WISH_001.width]}
                sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${WISH_001.width}px`}
        />
        <div class="italic">A unicorn to take me far away when I'm in troubles.</div>
    </div>
</div>

<h2
        class="pb-2 text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-gray-800 mb-2 text-justify"
>
    Post your own crazy wishes or react on <a class="hover:text-primary" href={URLs.xURL} target="_blank">X</a> or <a class="hover:text-primary"  href={URLs.telegramURL} target="_blank">telegram</a>.
</h2>

<style>

    li {
        display: list-item;
        list-style-position: inside;
        list-style-type: decimal;
    }
</style>