---
import TelegramIcon from "../icons/TelegramIcon.astro";
import XIcon from "../icons/XIcon.astro";
import DexScreenerIcon from "../icons/DexScreenerIcon.astro";
import {coinName, URLs} from "../data/data.json"

---

<div class="social-links my-4">
  <div
    class="flex gap-y-3 gap-3 justify-center w-full mr-6"
  >
    <a
      href={URLs.telegramURL}
      class="el flex items-center justify-center h-12 w-12 bg-black rounded-full transition-transform duration-200 transform hover:scale-110"
    >
      <TelegramIcon/>
    </a>
    <a
      href={URLs.xURL}
      class="el flex items-center justify-center h-12 w-12 bg-black rounded-full transition-transform duration-200 transform hover:scale-110"
    >
      <XIcon/>
    </a>

    <a
        href={URLs.dexScreenerURL}
        class="el flex items-center justify-center h-12 w-12 bg-white rounded-full transition-transform duration-200 transform hover:scale-110"
    >
      <DexScreenerIcon/>
    </a>
    <a
      href={URLs.exchangeURL}
      class="flex items-center justify-center bg-tertiary rounded px-2 border-2 border-tertiary hover:border-black">
      Buy ${coinName}
    </a>
  </div>
</div>
<style>
  .el {
    height: 3em;
    width: 3em;
    text-align: center;
    line-height: 2em;
  }
</style>
