---
import TelegramIcon from "../icons/TelegramIcon.astro";
import XIcon from "../icons/XIcon.astro";
import DexScreenerIcon from "../icons/DexScreenerIcon.astro";
import {coinName, moonshotContractAddress, poolAddress, URLs, isGraduated} from "../data/data.json"
---

<div class="social-links my-4">
  <div
    class="flex gap-y-3 gap-3 justify-center w-full mr-6"
  >
    <a
      href={URLs.telegramURL}
      target="_blank"
      class="el flex items-center justify-center h-12 w-12 bg-black rounded-full transition-transform duration-200 transform hover:scale-110"
    >
      <TelegramIcon/>
    </a>
    <a
      href={URLs.xURL}
      target="_blank"
      class="el flex items-center justify-center h-12 w-12 bg-black rounded-full transition-transform duration-200 transform hover:scale-110"
    >
      <XIcon/>
    </a>

    { isGraduated && (
        <a
            href=`${URLs.dexScreenerBaseURL}${moonshotContractAddress}`
            class="el flex items-center justify-center h-12 w-12 bg-white rounded-full transition-transform duration-200 transform hover:scale-110"
        >
          <DexScreenerIcon/>
        </a>
    )}

    <a
      href={isGraduated ? `${URLs.raydiumBaseURL}${poolAddress}`: `${URLs.moonshotBaseURL}${moonshotContractAddress}`}
      target="_blank"
      class="flex items-center justify-center bg-tertiary rounded px-2 border-2 border-tertiary hover:border-black">
      Buy ${coinName}
    </a>
  </div>
</div>
<style>
  .el {
    height: 3em;
    width: 3em;
    text-align: center;
    line-height: 2em;
  }
</style>
